{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- END nav -->
{% for home in home_cms %}
<section class="hero-wrap" style="background-image: url('{{ home.slider_images.url }}'); height:533px;" data-stellar-background-ratio="0.3">
  <div class="overlay"></div>
  <div class="container">
	<div class="row no-gutters slider-text align-items-center" style="height:650px;">
	  <div class="col-md-10 col-lg-7 ftco-animate d-flex align-items-end">
		<div class="text">

			<h1 class="mb-4">{{ home.slider_headline |safe }}</h1>
			<p style="font-size: 18px;">{{home.slider_small_headline}}</p>
			{% endfor %}
		</div>
	  </div>
	</div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
  <div class="container">
	  {% for process_cms in process %}
	<div class="row d-flex no-gutters">
	  <div class="col-md-3 d-flex align-items-stretch ftco-animate">
		<div class="media block-6 services services-bg d-block text-center px-4 py-5">
			<div class="icon d-flex justify-content-center align-items-center"><span class="{{ process_cms.icon_one }}"></span></div>
		  <div class="media-body py-md-4">

			<h3>{{ process_cms.process_title_one }}</h3>
			<p>{{process_cms.process_details_one}}</p>

		  </div>
		</div>
	  </div>
		<div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="{{ process_cms.icon_two }}"></span></div>
              <div class="media-body py-md-4">
                <h3>{{ process_cms.process_title_two }}</h3>
					<p>{{ process_cms.process_details_two }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="{{ process_cms.icon_three }}"></span></div>
              <div class="media-body py-md-4">
                <h3>{{ process_cms.process_title_three }}</h3>
					<p>{{ process_cms.process_details_three }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="{{ process_cms.icon_four }}"></span></div>
              <div class="media-body py-md-4">
                <h3>{{ process_cms.process_title_four }}</h3>
					<p>{{ process_cms.process_details_four }}</p>
              </div>
            </div>
          </div>
        </div>
	  {% endfor %}
      </div>
    </section>


<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
		  <div class="heading-section pr-md-5">
			  {% for about_cms in about %}
			<h2 class="mb-4">{{about_cms.about_title}}</h2>
             {{ about_cms.about_details | safe }}
		 	{% endfor %}
			</div>
		</div>
</section>

<section class="ftco-counter img" id="section-counter">
	<div class="container">
		<div class="row pt-md-5">
			{% for achieve_cms in achieve %}
		  <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
			<div class="block-18 py-md-5 mb-md-4">
			  <div class="text text-border d-flex align-items-center">

				<strong class="number" data-number="{{achieve_cms.achieve_number}}">0</strong>
				  {{achieve_cms.achieve_title | safe}}
		  </div>
		</div>
	  </div>
	{% endfor %}
	</div>
	</div>
</section>

<section class="ftco-section ftco-portfolio">
	<div class="row justify-content-center no-gutters">
	<div class="col-md-12 heading-section text-center ftco-animate mb-5">
<!--		<span class="subheading">Projects</span>-->
		{% for project in projects %}
	  <h2 class="mb-2">{{ project.projects_headline }}</h2>
		{% endfor %}
	</div>
  </div>

	<div class="container">
		<div class="row no-gutters">

			{% for project in projects %}
			<div class="col-md-12 portfolio-wrap">
				<div class="row no-gutters align-items-center">
<!--					<div class="col-md-5 img js-fullheight" style="background-image: url({{project.projects_images.url}});">-->
					<div class="{{project.position}}" style="background-image: url({{project.projects_images.url}});">

					</div>
					<div class="col-md-7">
						<div class="text pt-5 pl-0 pl-lg-5 pl-md-4 ftco-animate">
<!--						<div class="{{project.position}}">-->
							<div class="px-4 px-lg-4">
								<div class="desc">
<!--									<div class="top">-->
										<h2 class="mb-4"><a href="work.html">{{project.projects_title}}</a></h2>
<!--									</div>-->
									<div class="absolute">
										<p>{{project.projects_details}}</p>
<!--										<p><a href="#" class="custom-btn">View Portfolio</a></p>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
		<nav aria-label="Page navigation example">
            {% if projects.has_other_pages %}
          <ul class="pagination justify-content-center">
              {% if projects.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?projects={{ projects.previous_page_number }}" style="color:#191e23;" tabindex="-1">Previous</a>

            </li>
              {% endif %}
              {% for i in projects.paginator.page_range %}
                {% if projects.number == i %}
            <li class="page-item"><a class="page-link" style="color:#191e23;" href="?projects={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
              {% if projects.has_next %}
            <li class="page-item">
              <a class="page-link" style="color:#191e23;" href="?projects={{ projects.next_page_number }}">Next</a>
            </li>
              {% endif %}
              {% endif %}
          </ul>
        </nav>
	</div>
</section>


<section class="ftco-section">
  <div class="container">
	  <div class="row justify-content-center mb-5">
	  <div class="col-md-7 heading-section text-center ftco-animate">
<!--		<span class="subheading">Blog</span>-->
		<h2>Recent Blog</h2>
	  </div>
	</div>
    <div class="row d-flex">
    {% for blog_cms in blog %}
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                  <div class="text">
                    <a href="blog-single.html" class="block-20 img" style="background-image: url({{blog_cms.blog_images.url}});">
                      </a>
                      <div class="meta mb-3">
                      <div><a href="#">{{blog_cms.date_time}}</a></div>
                    </div>
                      <h3 class="heading"><a href="{% url 'listing' blog_cms.id %}">{{blog_cms.blog_headline_one}}</a></h3>
                  </div>
                </div>
              </div>
{% endfor %}
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
            {% if blog.has_other_pages %}
          <ul class="pagination justify-content-center">
              {% if blog.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?blog={{ blog.previous_page_number }}" style="color:#191e23;" tabindex="-1">Previous</a>

            </li>
              {% endif %}
              {% for i in blog.paginator.page_range %}
                {% if blog.number == i %}
            <li class="page-item"><a class="page-link" style="color:#191e23;" href="?blog={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
              {% if blog.has_next %}
            <li class="page-item">
              <a class="page-link" style="color:#191e23;" href="?blog={{ blog.next_page_number }}">Next</a>
            </li>
              {% endif %}
              {% endif %}
          </ul>
        </nav>
  </div>
</section>


{% endblock %}