{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for static_cms in static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({{static_cms.team_page_image.url}});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
	<div class="row no-gutters slider-text js-fullheight align-items-end">
	  <div class="col-md-9 ftco-animate pb-5">
		<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
		<h1 class="mb-3 bread">{{static_cms.team_page_headline}}</h1>
	  </div>
	</div>
  </div>
</section>
{% endfor %}
    
<section class="ftco-section">
	<div class="container">
		<div class="row">
			{% for teams in team %}
			<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex align-items-stretch justify-content-end">
						<div class="img align-self-stretch" style="background-image: url({{ teams.images.url }});"></div>
					</div>
					<div class="text d-flex align-items-center pt-3">
						<div>
							<h3 class="mb-2">{{teams.first_name}} <br>{{teams.last_name}}</h3>
							<span class="position mb-4">{{teams.designation}}</span>
							<a href="{{teams.linkedin}}" class="fa fa-facebook"></a>
							<a href="{{teams.facebook}}" class="fa fa-twitter"></a>
							<a href="{{teams.twitter}}" class="fa fa-linkedin"></a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

<!--	<div class="row mt-5">-->
<!--      <div class="col text-center">-->
<!--        <div class="block-27">-->

<!--&lt;!&ndash;          <ul>&ndash;&gt;-->

<!--&lt;!&ndash;            <li><a href="#">&lt;</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="active"><span>1</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">5</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">&gt;</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->


<!--            {% if team.has_other_pages %}-->
<!--          <ul>-->
<!--              {% if team.has_previous %}-->
<!--            <li>-->
<!--              <a href="?team={{ team.previous_page_number }}" tabindex="-1">&lt;</a>-->
<!--            </li>-->
<!--              {% endif %}-->
<!--              {% for i in team.paginator.page_range %}-->
<!--                {% if team.number == i %}-->
<!--            <li><a href="?team={{ i }}">{{ i }}</a></li>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--              {% if team.has_next %}-->
<!--            <li>-->
<!--              <a href="?team={{ team.next_page_number }}">&gt;</a>-->
<!--            </li>-->
<!--              {% endif %}-->
<!--              {% endif %}-->
<!--          </ul>-->




<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
		</div>




		<nav aria-label="Page navigation example">
            {% if team.has_other_pages %}
          <ul class="pagination justify-content-center">
              {% if team.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?team={{ team.previous_page_number }}" style="color:#191e23;" tabindex="-1">Previous</a>

            </li>
              {% endif %}
              {% for i in team.paginator.page_range %}
                {% if team.number == i %}
            <li class="page-item"><a class="page-link" style="color:#191e23;" href="?team={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
              {% if team.has_next %}
            <li class="page-item">
              <a class="page-link" style="color:#191e23;" href="?team={{ team.next_page_number }}">Next</a>
            </li>
              {% endif %}
              {% endif %}
          </ul>
        </nav>
	</div>
</section>
{% endblock %}